<div class="box">
  <h2 class="title">Edit tweet</h2>
<%= form_with model: @tweet, local: true do |f| %>
<div>
    <%= f.text_area :body %>
</div>
<div>
      <%= f.submit "Update", class: "submit" %>
</div>
<% end %>
 <div>
      <%= link_to "Back", tweets_path, class: "link1" %> 
</div>
</div>
