<div class="box">
  <h2 class="title">Edit tweet</h2>
<%= simple_form_for @tweet do |f| %>
  <%= f.text_area :body %>
  <%= f.button :submit, class: "submit" %>
<% end %>
<%= link_to "Back", tweets_path, class: "link1" %> 
</div>
