<div class="border my-3"></div>
<div class="flex justify-between items-center ">
  <%= link_to "â™¡ Like", error_path, class: "like hover:text-red-500" %>
  <div class="border h-6"></div>
  <%= link_to "ðŸ—¨ï¸ Comment", error_path, class: "like hover:text-green-500" %>
  <div class="border h-6"></div>
  <% if !tweet.author?(current_user) %>
      <%= button_to "â¤· Retweet", retweet_tweet_path(tweet), class: "like hover:text-blue-500" %>
  <% else %>
    <span class="like hover:text-blue-500">â¤· Retweet</span>
  <% end %>
</div>
